body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: url("images/shattered-island.gif");

.img-pad {
    padding: 2px;
}

.card {
    margin-bottom: 20px;
}

/* .portfolio-item {
    padding: 20px;
    margin-bottom: 20px;
}

.card-text {
    margin-bottom: 20px;
} */

@media (max-width: 991px){
    .col-margin{
        margin: auto;
    }  
}