body, html {
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

#me{
    margin-bottom: 20px;
}

.bg { 
    background-image: url("images/shattered-island.gif");
}
z
.img-pad {
    padding: 1px;
    padding-top: 5px;
}

.card {
    margin-bottom: 30px;
}

.card-img-top {
    filter:grayscale(100%);
    min-height: 180px;
}

.card-img-top:hover {
    filter:grayscale(0%);
}


#portfolio-div {
    margin-top: 10px;
}

.connect-buttons {
    margin: auto;
    padding: 0;
}

a {
    color: rgb(116, 2, 116);
}

@media only screen and (max-width: 600px) {
    .connect-buttons{
        width: 90px;
        padding: 0;
        margin: auto;
}